!!!
%html
  %head
    %meta{content: 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name: 'viewport'}
    %title Themed Single Element Loaders
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/all.css"}
  %body
    .header 
      .header-section
        .page-title
          %span †
          %h2 Load Wow.
        %p A mini-series of basic animations & loaders using only 1 HTML element and 100% CSS.
      .header-section
        %img{:src => 'assets/devices.png', :height => 400}
        .demo-loaders
          -demos.each do |demo_class, demo_size|
            .loader{:class => demo_size}
              .container
                %div{:class => "ld #{demo_class}" }
    .loaders
      -loaders.each do |loader_set|
        .section
          %h1= loader_set['theme']
          - loader_set['loaders'].each do |loader|
            .loader
              .name= loader['name']
              .class= loader['class']
              .container
                %div{:class => "ld #{loader['class']}" }
          / -(7 - ((loaders.count + 6) % 6)).times do 
          /   .loader
          /     .container
