!!!
%html
  %head
    %link{ :href => 'http://fonts.googleapis.com/css?family=Slabo+27px', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/all.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/loader01.css"}
  %body
    .header 
      %h2 Loading.CSS
      %p A mini-series of basic animated loaders using only 1 HTML element and 100% CSS.
    .loaders
      -loaders.each_with_index do |loader, k|
        -cstr = ( k < 9 ? "0#{k+1}" : "#{k+1}")
        .loader
          .container
            %div{:class => "loader#{cstr}" }
          .info
            %span.date= loader['date']
            %span.name= loader['name']